/* src/components/about/About.module.css */
.aboutSection {
    background-color: #0d0d0d;
    color: #ffd700;
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Nyxerin', sans-serif;
  }
  
  .text {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'IBM Plex Mono', monospace;
  }
  